{% extends 'todo/base.html'%}
{% load static %}

{% block content %}

<div class="row justify-content-start mt-4">
<div class="col-md-6">
	<a href="{% url 'todo_tasks_parameter' taskgroup_id %}">Terug naar taken</a>
  <form method="POST">
    {% csrf_token %}
    {{form}}
  </form>
</div>
</div>

<div class="row justify-content-start mt-2">
<div class="col-md-6">
<table class="table">
	<tbody id="table_body">
		
	</tbody>
</table>
  
</div>
</div>

{% endblock%}



{% block script%}
<script>
	var a = "a";
	var url_add_user = "{% url 'todo_add_user_taskgroup' taskgroup_id %}";
	var url_show_users = "{% url 'todo_ajax_show_users' %}";
</script>
<script type="text/javascript" src="{% static 'js/friendlist.js'%}">
	
</script>

{% endblock %}

