{% extends 'todo\base.html' %}

{% block content %}
<div class="row justify-content-start mt-4">
<div class="col-md-6">
	<form method="POST">
		{% csrf_token %}
		{{form}}
		<div class="form-group mt-4">
			<button class="btn btn-outline-info" type="submit">Aanpassen</button><a class="ml-2" href="{% url 'todo_index' %}"> Cancel</a>
		</div>
	</form>
	

</div>
</div>

{% endblock %}

{% block script%} 

<script>
	$(function() {
		$( ".datepicker" ).datepicker({
			dateFormat: "yy-mm-dd",
			changeMonth: true,
	      	changeYear: true,
	      	yearRange: "2020:2030",
	  });
	});
</script>


{% endblock %}