{% extends 'todo/base.html'%}

{% block content %}

<div class="row justify-content-start mt-3">
  <div class="col-lg-6 my-col mt-1">
    <a class="" href="{% url 'logout' %}"><i class="mb-5 fas fa-sign-out-alt">Uitloggen</i></a>
    <form method='POST' action="{% url 'todo_tasks' %}">
      {% csrf_token %}
      <select class="form-control transparant" id="make" name='selected_group' onChange="form.submit();">
              <option value="" disabled selected>Selecteer Groep</option>
          {% for group in groups %}
              <option value='{{group.id}}'>{{ group.name }}</option>
          {% endfor %}
      </select>
    </form>
    <a href="{% url 'todo_new_task_group' %}">Nieuwe Groep</a>
  </div>
</div>


{% endblock%}