{% extends 'todo/base.html'%}

{% block content %}

<div class="row justify-content-start mt-3">
  <div class="col-6 my-col mt-1">
    <a class="" href="{% url 'todo_index' %}">Terug naar groepen</a>
  </div>
</div>


<div class="row justify-content-center mt-3">
<div class="col-6 text-center">
  <div class="dropdown">
  <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    menu
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
    <a class="ml-2 dropdown-item" href="{% url 'todo_create' taskgroup.id %}"><i class="fas fa-plus"> Taak toevoegen</i></a>
    <a class="ml-2 dropdown-item" href="{% url 'todo_add_user_taskgroup' taskgroup.id %}"><i class="fas fa-user-plus"> Deelnemer toevoegen</i></a>
    <div class="dropdown-divider"></div>
    <a class="ml-2 dropdown-item" href="{% url 'logout'%}"><i class="fas fa-sign-out-alt"> Uitloggen</i></a>
  </div>
</div>
</div>
</div>


<div class="row justify-content-start mt-2">
<div class="col-md-6">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Korte omschrijving</th>
        <th scope="col">Streefdatum</th>
        <th scope="col">Urgentie</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for task in tasks %}
        <tr>
          <td><a href="{% url 'todo_detail' task.id %}" title="">{{task.short_description}}</a></td>
          <td>{{task.target_date|date:"d-m-Y"}}</td>
          <td>{{task.priority}}</td>
          <td><a href="{% url 'todo_finish' task.id%}"><i class="fas fa-check"></i></a></td>
          <td><a class="confirm-delete" href="{% url 'todo_delete' task.id%}"><i class="far fa-trash-alt"></i></a></td>
        </tr>
      {% endfor %} 
    </tbody>
  </table>
</div>
</div>

{% endblock%}


{%block script%}
<script>
  $(document).on('click', '.confirm-delete', function(){
    return confirm('Weet je zeker dat je deze taak wil verwijderen?');
  })
</script>

{% endblock %}