{% extends 'todo/base.html'%}
{% load static %}

{% block content %}

<div class="row justify-content-start mt-3">
  <div class="col-6 my-col mt-1">
    <a class="" href="{% url 'todo_index' %}">Terug naar groepen</a>
  </div>
</div>


<div class="row justify-content-center mt-3">
<div class="col-6 text-center">
  <div class="dropdown">
  <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    menu
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
    <a class="ml-2 dropdown-item" href="{% url 'todo_create' taskgroup.id %}"><i class="fas fa-plus"> Taak toevoegen</i></a>
    <a class="ml-2 dropdown-item" href="{% url 'todo_add_user_taskgroup' taskgroup.id %}"><i class="fas fa-user-plus"> Deelnemer toevoegen</i>
      <a class="ml-2 dropdown-item" href="{%url 'todo_invites_user_taskgroup' %}"><i class="fas fa-list"> Uitnodigingen</i></a>
    <div class="dropdown-divider"></div>
    <a class="ml-2 dropdown-item" href="{% url 'logout'%}"><i class="fas fa-sign-out-alt"> Uitloggen</i></a>
  </div>
</div>
</div>
</div>


<div class="row justify-content-start mt-2">
<div class="col-md-6">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Korte omschrijving</th>
        <th scope="col">Streefdatum / Urgentie</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for task in tasks %}
        <tr>
          <td><a href="{% url 'todo_detail' task.id %}" title="">{{task.short_description}}</a></td>
          <td>{{task.target_date|date:"d-m-Y"}} {{task.priority}}</td>
          <td>
            <a href="{% url 'todo_finish' task.id%}" class="btn btn-success btn-sm">Afgerond</a>
            <a id="confirm-delete-task" href="{% url 'todo_delete' task.id%}" class="btn btn-danger btn-sm mt-1">Verwijder</a>
          </td>
        </tr>
      {% endfor %} 
    </tbody>
  </table>
</div>
</div>

{% endblock%}


{%block script%}

<script type="text/javascript" src="{% static 'js/main.js'%}"></script>

{% endblock %}